.word {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
    perspective: 1000px;
}

.word span {
    display: inline-block;
    font-size: 100px;
    user-select: none;
    line-height: .8;
}

.word span:nth-child(2) {
    cursor: pointer;
    animation: glow 2500ms linear infinite 2000ms;
}

.word span:nth-child(5) {
    cursor: pointer;
    animation: glow 2500ms linear infinite 2000ms;
}

.word span:nth-child(10) {
    cursor: pointer;
    animation: glow 2500ms linear infinite 2000ms;
}

.word span:nth-child(14) {
    cursor: pointer;
    animation: glow 2500ms linear infinite 2000ms;
}

@keyframes glow {
    60% {
        text-shadow: 0 0 40px #98cbff;
    }
}

.word span:nth-child(n).active {
    animation: rotate 1s ease-out;
    color: #98cbff;
}

@keyframes rotate {
    20%, 80% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Other styles */
body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}
